include/ipcfg/private/config.h
include/ipcfg/private/config.h.in
include/ipcfg/private/config.h.in~
config.log
config.status
config.guess
config.sub
configure
Makefile
Makefile.in
aclocal.m4
autom4te.cache
autoscan.log
depcomp
depcomp
install-sh
missing
stamp-h1
.deps
*.o
ylwrap
ipcfg
ipcfg-lexer.c
ipcfg-parser.h
ipcfg-parser.c
lex.yy.c
src/backend/libbackend*.a
ipcfg-parser.output
src/modules/.libs
libtool
ltmain.sh
src/modules/*.la
src/modules/*.lo
debian/*debhelper*
debian/files
debian/ipcfg.substvars
